body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.card-container {
    display: flex;
    padding: 16px;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.1);
}

.card {
    --cardColor: grey;
}

.card,
.card::before,
.card::after {
    width: 100px;
    height: 150px;
    cursor: pointer;
}

.card::before,
.card::after {
    content: "";
    border-radius: 4px;
    position: absolute;
    backface-visibility: hidden;
    transition: 300ms;
}

.card::before {
    background: pink;
    transform: rotateY(0deg);
}

.card::after {
    background: var(--cardColor);
    transform: rotateY(180deg);
}

.card--flipped::before,
.card--flipped::after,
.card--matched::before,
.card--matched::after,
.card--flipped,
.card--matched {
    cursor: default;
}

.card--flipped::before {
    transform: rotateY(180deg);
}

.card--flipped::after {
    transform: rotateY(0deg);
}

@keyframes btn-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn {
    padding: 24px 128px;
    font-size: 32px;
    font-style: bold;
    border-radius: 16px;
    border: none;
    color: white;
    background: linear-gradient(60deg,#DD5E89,#F7BB97);
    background-size: 400% 400%;
    animation: btn-animation 8s ease infinite;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn--disabled, .btn--disabled:hover {
    background: lightgrey;
    cursor: default;
    transform: scale(1);
}
